{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="about-page">

{% include 'navbar.html' %}

<h2 align="center">About Us</h2>

<img src="{% static 'images/about1.png' %}" class="about-img">
<img src="{% static 'images/about2.png' %}" class="about-img">
<img src="{% static 'images/about3.png' %}" class="about-img">
<img src="{% static 'images/about4.png' %}" class="about-img">

<p align="center">
Sandy Spoon offers traditional and modern sea food with authentic taste.
</p>
