body{
    margin:0;
    font-family: Arial;
    background:#fffaf0;
}

nav{
    background:#7b1e1e;
    padding:12px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

nav a:hover{
    text-decoration:underline;
}

header{
    text-align:center;
    padding:30px;
}

.center-img{
    display:block;
    margin:auto;
    width:80%;
    border-radius:15px;
}

.menu-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    padding:20px;
}

.food-card{
    background:white;
    padding:10px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
}

.food-card img{
    width:100%;
    height:150px;
    object-fit:cover;
    border-radius:10px;
}

.about-page{
    background-image:url("/static/images/bg.jpg");
    background-size:cover;
    min-height:100vh;
}

.about-img{
    width:50%;
    display:block;
    margin:auto;
    border-radius:15px;
}

.contact-box{
    width:50%;
    margin:40px auto;
    background:white;
    padding:20px;
    border-radius:10px;
}

table{
    width:60%;
    margin:auto;
    border-collapse:collapse;
}

table, th, td{
    border:1px solid #ccc;
    padding:10px;
}

th{
    background:#7b1e1e;
    color:white;
}
